@page "/debug"

<h1 class="h5 m-3">Debug OK</h1>
<p class="m-3">El Router montó correctamente. Si /servicios revienta, el problema está en esa página o en sus servicios/inyecciones.</p>
<a class="btn btn-sm btn-success ms-3" href="/servicios">Ir a Servicios</a>
