@page "/"
@inject NavigationManager Nav

<div class="container mt-5">
    <div class="text-center mb-4">
        <h1 class="display-5">Bienvenido a la Veterinaria</h1>
        <p class="lead">Selecciona una opción para gestionar veterinarios</p>
    </div>

    



        <div class="col-12 col-md-4">
            <div class="card shadow-sm h-100">
                <div class="card-body text-center">
                    <i class="bi bi-pencil-square display-4 text-warning"></i>
                    <h5 class="card-title mt-3">Editar</h5>
                    <p class="card-text">Ir a seccion de razas (listado)</p>
                    <button class="btn btn-outline-warning w-100" @onclick='() => Nav.NavigateTo("/razas/indexmascotas")'>
                        Ir a agregar
                    </button>
                </div>
            </div>
        </div>


    </div>
