@page "/login/login"
@inject NavigationManager navManager

<div class="contenedor home">
    <div class="mb-4">
        <h1 style="font-size:28px;" class="titulo text-center">Inicia sesión en Colitas</h1>
        <p style="font-size:16px;" class="descripcion text-center">Ingresa tus credenciales para entrar al sistema</p>
    </div>

    <div class="d-grid gap-1">
        <div class="input-container">
            <p style="font-size:16px;" class="label">Usuario</p>
            <input placeholder="Ingresa tu nombre de usuario" class="input" type="text" @bind="usuario" />
        </div>

        <div class="input-container">
            <p style="font-size:16px;" class="label">Contraseña</p>
            <input placeholder="Ingresa tu contraseña" class="input" type="password" @bind="contrasena" />
        </div>
    </div>

    <button @onclick="IniciarSesion" class="boton-verde">Iniciar Sesión</button>
</div>

@code {
    private string usuario = string.Empty;
    private string contrasena = string.Empty;

    private void IniciarSesion()
    {
        
        navManager.NavigateTo("/servicios");
    }
}
